<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.AccountsMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.AddressesMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.CardsMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.ClientsMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.DepartmentsMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.PassportsMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.PersonsMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.ServicesMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.StaffMapper"/>
        <mapper class="com.solvd.laba.database.dao.impl.mybatis.mappers.TransactionsMapper"/>
    </mappers>
</configuration>